:root {
  font-size: 62.5%;

  /* Fonts */
  --ff-body: 'Roboto', sans-serif;

  /* Font Sizes */
  --fs-titles: 3.2rem;
  --fs-body: 1.4rem;
  --fs-input: 1.6rem;
 
  /* Colors */
  --bg-color: hsla(230, 78%, 8%, 1);
  --fc-body: hsla(194, 68%, 15%, 1);
  --btn-color: hsla(194, 97%, 31%, 1);
  --btn-hover: rgb(5, 75, 97);
  --mn-color: hsla(0, 0%, 100%, 1);
  --al-error: hsla(0, 86%, 59%, 1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--ff-body);
  color: var(--fc-body);
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  max-width: 42.8rem;
  padding: 4.8rem 6.4rem 6.4rem;
  margin-inline: auto;

  background-color: var(--mn-color);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--fs-titles);
}

form {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-body);

  margin-top: 3.2rem;
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

form label {
  display: block;
  margin-bottom: 8px;
  line-height: 1.8rem;
}

form input {
  width: 30rem;
  font-family: var(--ff-body);
  font-size: var(--fs-input);
  color: hsla(210, 11%, 15%, 1);
  padding: 1.6rem;
  background-color: hsla(212, 23%, 89%, 1);
  border: 1px solid hsla(210, 9%, 31%, 0.3);
  border-radius: 5px;
}

form input:focus {
  outline: none;
  border: 2px solid hsla(194, 97%, 31%, 1);
}

form button {
  width: 100%;

  display: flex;
  padding: 1.6rem;
  gap: 8px;
  align-items: center;
  justify-content: center;

  font-family: var(--ff-body);
  font-size: var(--fs-input);
  color: var(--mn-color);
  font-weight: 700;

  background-color: var(--btn-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: background .3s;
}

form button:hover {
  background-color: var(--btn-hover);
}



/* Modal */
.modal-wrapper.open{
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  background: hsla(0, 0%, 0%, 0.7);
  
  position: absolute;
  inset: 0;

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  cursor: pointer;

  transition: transform .3s;
}

.modal button:hover {
  transform: scale(1.1);
}


/* Alert error */
.alert-error.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.alert-error {
  background-color: var(--al-error);
  padding: .8rem 0;

  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: var(--mn-color);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  visibility: hidden;
  opacity: 0;

  transform: translateY(-3rem);
  transition: transform .5s;
}