/* Variáveis */

:root {
  --ff-heading: 'Epilogue', sans-serif; 
  
  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 23%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4.0rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-heading);
  background-color: var(--bg-primary);
  color: var(--fc-primary);
  font-size: var(--fs-body);
  height: 170rem;
}

main { 
  display: grid;
  gap: 3.2rem;
  display: grid;
}

.page {
  max-width: 33rem;
  margin: 0 auto;
}

@media (min-width: 700px) {
:root {
  --fs-heading: 5.6rem;
}

  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }
}

header {
  text-align: center;
  margin: 10rem 0 8rem;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1.7rem;
  line-height: 3.2rem;
  font-weight: 400;
  animation: topdown 700ms 100ms backwards;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;
  animation: topdown 700ms 400ms backwards;
}

img {
  width: 100%;
  height: auto;
}

.cards {
  position: relative;
}

.cards img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;
  transition: all 300ms;
}

.cards h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.cards h2 span {
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  color: var(--fc-secondary-dark);
  font-weight: 400;
  line-height: 3.2rem;
  padding: 0 1.6rem;
  height: 3.8rem;
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

main div:nth-child(1) {
  animation: downtop 700ms 100ms backwards reverse ease-in;
}

main div:nth-child(2) {
  animation: downtop 700ms 300ms backwards reverse ease-in;
}

main div:nth-child(3) {
  animation: downtop 700ms 500ms backwards reverse ease-in;
}


/* Animações */

img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Código de animação encurtado, ver no animation do main */

@keyframes downtop { 
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}