/* Variáveis */

:root {
  --ff-heading: 'Epilogue', sans-serif; 
  
  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 23%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4.0rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-heading);
  background-color: var(--bg-primary);
  color: var(--fc-primary);
  font-size: var(--fs-body);
  height: 170rem;
}

main { 
  display: grid;
  gap: 3.2rem;
}

.page {
  max-width: 33rem;
  margin: 0 auto;
}

header {
  text-align: center;
  margin: 10rem 0 8rem;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1.7rem;
  line-height: 3.2rem;
  font-weight: 400;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;
}

img {
  width: 100%;
  height: auto;
}

.cards {
  position: relative;
}

.cards img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;
}

.cards h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.cards h2 span {
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  color: var(--fc-secondary-dark);
  font-weight: 400;
  line-height: 3.2rem;
  padding: 0 1.6rem;
  height: 3.8rem;
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

