:root {

  /* FONTS */
  --ff: 'Mulish', sans-serif;

 /* FONT SIZES */
  font-size: 62.5%;
  --fs-titles: 3.2rem;
  --fs-subtitles: 2rem;
  --fs-paragraph: 1.6rem;

  /* COLORS */
  --fc-primary: hsla(320, 69%, 42%, 1);
  --fc-secondary: hsla(244, 38%, 28%, 1);
  --fc-terciary: hsla(0, 0%, 100%, 1);
  --bg-blue: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  --bg-grey: hsla(283, 47%, 97%, 1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-paragraph);
  color: var(--fc-secondary);
  text-align: center;
}

.page {
  max-width: 43.0rem;
  height: auto;
  margin: 0 auto;
}

header {
  width: 43.0rem;
  height: 67.9rem;
  background-color: var(--bg-grey);
}

header img {
  width: 36.4rem;
  height: auto;
  margin-bottom: 1.7rem;
}

h1, legend {
  font-size: var(--fs-titles);
  color: var(--fc-primary);
  line-height: 4rem;
  font-weight: 900;
}

main h2 {
  font-size: var(--fs-subtitles);
  font-weight: 600;
  margin-bottom: 3.5rem;
}

header img.arrow {
  width: 5.859rem;
}

main {
  background: var(--bg-blue);
  width: 43.0rem;
}

main div.container {
  margin: 0 auto;
  padding: 5.6rem 3.9rem;
  display: flex;
  flex-direction: column;
  gap: 3.31rem;
}

main div.card {
  background-color: var(--fc-terciary);
  border-radius: 1.9rem;
  padding: 2.6rem;
  text-align: left;
}

.card img {
  width: 8rem;
  margin-bottom: 1.2rem;
}

.card h1 {
  margin-bottom: 8px;
}

.card p {
  width: 26.5rem;
}

.form {
  padding: 7.8rem 4rem;
  width: 43rem;
  height: 56.5rem;
  background-color: var(--bg-grey);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: left;
  border: none;
}

fieldset legend {
  margin-bottom: 3rem;
}

input, textarea {
  font-family: var(--ff);
  font-size: var(--fs-paragraph);
  color: var(--fc-secondary);
  width: 34.8rem;
  height: 4.8rem;
  padding-left: 5rem;
  border: 1.5px solid var(--fc-secondary);
  border-radius: 1.6rem;
  background-color: var(--bg-grey);
  position: relative;
}

fieldset img {
  width: 1.8rem;
  position: absolute;
  margin: 1.4rem 1.5rem;
  z-index: 2;
}

textarea {
  padding: 1.5rem 1.5rem;
  height: 12.6rem;
}

.button {
  color: var(--fc-terciary);
  font-size: 1.4rem;
  background: var(--bg-blue);
  width: 15.1rem;
  padding: 0;
}

footer {
  width: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.8rem;
  background: var(--bg-blue);
  color: var(--fc-terciary);
}

footer h2 {
  height: 2rem;
  font-weight: 600;
  font-size: 1.9rem;
}